<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto 5</title>
</head>
<body>
    <h1>Punto 05: Texto reverso</h1>

    <p>Solicite al usuario que ingrese una cadena texto por consola, por ejemplo: hola mundo! <br>
        Guarde cada carácter de la cadena de texto (en sentido inverso, comenzando desde el último caracter) en un arreglo de tipo char y muestre el contenido del arreglo por consola.
    </p>

    <h4>Texto Original: <span th:text="${texto}"></span></h4>
    <h4>Texto Reverso: <span th:text="${textoReversa}"></span></h4>
    

    <br>
    <a href="/menu">Volver al menu</a>

</body>
</html>