<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto 2-4</title>
</head>
<body>
    <h1>Punto 2.4: Manejo de LocalDateTime</h1>
    <p>Utilizando el constructor sobrecargado con los parámetros para las variables de tipo LocalDateTime. Realice la combinación de objetos LocalDate y LocalTime para establecer los valores para dateTime1 y dateTime2. Luego muestre el valor de cada una de las variables.</p>

    <h4>LocalDate: <span th:text="${localDate}"></span></h4>
    <h4>LocalTime: <span th:text="${localTime}"></span></h4>

    <h2>Resultado</h2>

    <h4>Fecha Combinada: <span th:text="${resultadoF}"></span></h4>

    <a href="/menuPunto02">Menu punto 02</a>

</body>
</html>