<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PUNTO 6</title>
</head>
<body>
    <h1>Listado de Numeros Enteros</h1>
	    <table>
	    	<tr>
	    		<th>NUMERO 1</th>
	    		<th>NUMERO 2</th>
	    		<th>NUMERO 3</th>
	    		<th>NUMERO 4</th>
	    		<th>NUMERO 5</th>
	    		<th>NUMERO 6</th>
	    		<th>NUMERO 7</th>
	    		<th>NUMERO 8</th>
	    		<th>NUMERO 9</th>
	    		<th>NUMERO 10</th>
	    	</tr>

	    	<tr th:each="alu:${NumeroEnteros}"> 
	    		<th th:text="${alu.n10}"></th>
	    		<th th:text="${alu.n9}"></th>
	    		<th th:text="${alu.n8}"></th>
	    		<th th:text="${alu.n7}"></th>
	    		<th th:text="${alu.n6}"></th>
	    		<th th:text="${alu.n5}"></th>
	    		<th th:text="${alu.n4}"></th>
	    		<th th:text="${alu.n3}"></th>
	    		<th th:text="${alu.n2}"></th>
	    		<th th:text="${alu.n1}"></th>
	    	</tr>
	    </table>

		<a href="/menu">Volver al Menu</a>

</body>
</html>