<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto 2-5</title>
</head>
<body>
    <h1>Punto 2.5: Tiempo transcurrido desde la fecha de nacimiento</h1>
    <p>Utilizando el constructor sobrecargado con los parámetros para los atributos de tipo LocalDate. Envíe para el valor del atributo fecha1 la fecha de su nacimiento y para el atributo fecha2 envíe la fecha actual. Utilice el método contarTiempoTranscurrido() para mostrar un mensaje como el siguiente : “Han transcurrido 35 años, 5 meses y 14 días desde la fecha fecha1 hasta la fecha fecha2”. Donde dice fecha1 y fecha2 son los valores de los atributos que fueron formateados con el método formatearFecha().</p>

    <h4>Fecha de Nacimiento: <span th:text="${fechaNac}"></span></h4>
    <h4>Hora Acutal: <span th:text="${horaActual}"></span></h4>

    <h2>Resultado</h2>

    <h4><span th:text="${resultadoF}"></span></h4>

    <a href="/menuPunto02">Menu punto 02</a>

</body>
</html>