<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto 02</title>
</head>
<body>
    <h1>Punto 02: Datos de la persona</h1>

    <ul>
        <li><a href="/punto02-1?fecha1=1987-06-24&fecha2=1985-02-05">2.1: Mostrar fechas</a></li>
        <li><a href="/punto02-2">2.2: Manejo de LocalTime</a></li>
        <li><a href="/punto02-3?fecha1=1987-06-24&fecha2=1985-02-05">2.3: Comparar Fechas</a></li>
        <li><a href="/punto02-4">2.4: Manejo de LocalDateTime</a></li>
        <li><a href="/punto02-5">2.5: Tiempo transcurrido desde la fecha de nacimiento</a></li>
        <li><a href="/punto02-6?fecha1=24/06/1987&fecha2=05/02/1985">2.6: Convertir String a LocalDate</a></li>
    </ul>

    <a href="/menu">Volver al menu</a>

</body>
</html>