<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto 2-1</title>
</head>
<body>
    <h1>Punto 2-1: Mostrar fechas</h1>

    <p>Utilizando el constructor sobrecargado con los parámetros para las variables de tipo LocalDate. Sin utilizar ningún objeto scanner envíe valores para los atributos fecha1 y fecha2. Luego muestre por consola el valor de cada variable.</p>

    <h4>Fecha 1: <span th:text="${fecha1}"></span></h4>
    <h4>Fecha 2: <span th:text="${fecha2}"></span></h4>

    <a href="/menuPunto02">Menu punto 02</a>

</body>
</html>